@import 'tailwindcss';

.text-shadow {
    text-shadow: 8px 4px 20px rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: 'Helvetica';
    src: url(/public/fonts/helvetica/Helvetica.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaBold';
    src: url(/public/fonts/helvetica/Helvetica-Bold.ttf) format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNarrow';
    src: url(/public/fonts/helvetica/Helvetica-Narrow\ Roman.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaLight';
    src: url(/public/fonts/helvetica/helvetica-light.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaRoman';
    src: url(/public/fonts/helvetica/Helvetica\ Roman.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

.font-helvetica {
    font-family: 'Helvetica', sans-serif;
}
.font-helvetica-bold {
    font-family: 'HelveticaBold', sans-serif;
}
.font-helvetica-narrow {
    font-family: 'HelveticaNarrow', sans-serif;
}

.font-helvetica-light {
    font-family: 'HelveticaLight', sans-serif;
}

.font-helvetica-roman {
    font-family: 'HelveticaRoman', sans-serif;
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@layer base {
    html,
    body {
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    html::-webkit-scrollbar,
    body::-webkit-scrollbar {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}
